.video-wrap {
    width: 1024px;
    height: 400px;;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.live-video {
    position: absolute;
    left: calc(50% - 360px);
    top: calc(50% - 180px);
}
.d-player-video {
    top:20px;
    margin-left: calc(50% - 360px);
    width:720px;
    height:360px;
}

.no-video-alert {
    position: relative;
    text-align: center;
    height: 405px;
    width:  720px;
    font-size: 40px;
    padding-top: 162.5px;
    // background-repeat:  no-repeat;
    // background-position: center center;
}

.alert-text {
    width: 500px;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
    position: absolute;
    padding: 20px;
    left: calc(50% - 250px);
    top: calc(50% - 49px);
    font-size: 40px;
}
