@import "@/scss/common/mixin";
.oddsTable {
  .starColumn {
    width: 40px;
    align-items: center;
    display: flex;
    // margin-left: auto;
    & > .morePlaysBtn {
      border: solid 1px #000;
      color: #000;
      border-radius: 3px;
      padding: 2px;
      transition-duration: 0.2s;
      user-select: none;
      margin: auto;
      font-size: 12px;
      cursor: pointer;
      bottom: 0px;
      &:hover {
        background: var(--primary);
        color: white;
      }
    }
  }
  th {
    &.starColumn {
      width: 40px !important;
    }
  }
  .smallFont {
    font-size: 12px;
  }

  .oddsContainer {
    height: 605px;
    overflow-x: hidden;
    background: var(--dark);
    overflow-y: auto;
    &.breakfast {
      height: 572px;
    }
    .emptySport {
      background: var(--dark);
      color: var(--white);
      text-align: center;
      width: 100%;
      font-size: 13px;
      color: var(--white) !important;

      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      height: 100%;
      font-size: 16px;
    }
  }
  .betBody {
    & > .body {
      position: sticky !important;
      z-index: 100;
      top: 0;
    }
    .banner {
      width: 100%;
      background: var(--dark);
      color: var(--secondary);
      min-height: 45px;
      height: auto;
      position: sticky !important;
      z-index: 100;
      top: 0;
      align-items: center;
      display: flex;
      cursor: pointer;
      &.subTitle {
        z-index: 50;
        position: relative !important;
      }
      & > .absolute {
        position: absolute;
        right: 10px;
        top: 10px;
      }
      & > .plainText {
        width: 210px;
        color: var(--textColor);
        padding-left: 10px;
      }
      & > .name {
        width: 201px;
        font-size: 16px;
        padding: 10px;
      }
      .multipleTitle {
        display: flex;
        width: calc(100% - 201px);
        flex-direction: column;
        .betType {
          display: flex;
          span {
            color: var(--textColor);
            text-align: center;
            flex: 1;
            &.right {
            }
            &.left {
            }
          }
        }
      }
      .types {
        display: flex;
        width: 100%;
        .typeName {
          flex: 1;
          text-align: center;
        }
      }
    }
    .body {
      table-layout: fixed;
      width: 100%;
      background: var(--dark);
      height: 610px;
      user-select: none;
      position: relative;
      width: 100%;
      cursor: pointer;
      border-collapse: collapse;
      overflow-y: auto;
      .mainHeader {
        th {
          color: var(--secondary);
          font-weight: 400;
          padding: 1px;
          line-height: 25px;
          &.sport {
            text-align: left;
            padding: 10px;
            font-size: 16px;
          }
          &.timeType {
            line-height: 25px;
            font-size: 11px;
          }
        }
        .betTypes {
          &.others {
            padding-left: 210px;
            & > th {
              width: 25%;
              vertical-align: middle;
              flex: 1;
            }
          }
          & > th {
            line-height: 25px;
            flex: 1;
            vertical-align: bottom;
            color: var(--textColor);
          }
          &.doubleSize {
            & > th {
              width: 86px;
            }
          }
        }
        & > .betType {
          position: absolute;
          right: 5px;
          top: 5px;
          color: var(--primary);
        }
      }
    }
    .championOdds {
      background: white;
      font-size: 12px;
      .tabRow {
        width: 100%;
        height: 25px;
        background: var(--black);
        line-height: 25px;
        color: var(--white);
        padding: 0 5px;
      }
      .cornerBall {
        width: 100%;
        .expand {
          margin-right: 10px;
          transition-duration: 0.2s;
        }
        .header {
          width: 100%;
          height: 38px;
          background: #d4eaff;
          font-size: 13px;
          padding-left: 10px;
          cursor: pointer;
          color: var(--primary);
          border-top: solid 1px white;
        }
      }
      .league {
        color: var(--black);
        display: flex;
        padding: 0 15px;
        align-items: center;
        line-height: 39px;
        user-select: none;
        height: 39px;
        font-size: 13px;
        cursor: pointer;
        position: relative;
        background: #d3d3d3;
        width: 100%;
        border-bottom: solid 1px #727272;
        & > .right {
          margin-left: auto;
        }
        & > .joinChat {
          font-size: 18px;
          cursor: pointer;
          transition-duration: 0.2s;
          &:hover {
            color: var(--primary);
          }
        }
      }
      .star {
        margin-left: auto;
        cursor: pointer;
        font-size: 18px;
        position: absolute;
        right: 0;
        color: grey;
        padding-right: 10px;
      }

      .table {
        display: flex;
        background: white;
        height: auto;
        &:nth-child(odd) {
          //         border: 1px solid #afafaf;
          background: var(--paleBackground);
        }
        .timeMatchWrap {
          display: flex;
          .timeInfo {
            width: 30%;
            padding: 7px 0;
            & > div {
              text-align: center;
              font-size: 12px;
              font-weight: 400;
              &.score,
              &.hourMinute {
                color: var(--primary);
              }
            }
          }
          .matchInfo {
            width: 70%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            font-size: 13px;
            border-right: solid 1px white;
            text-align: left;
            position: relative;

            & > .homeTeam {
              color: var(--themeText);
            }

            & > div {
              padding: 1px;
              @include overFlowDot();
              line-height: 20px;
              color: #333;
            }
          }
        }

        &.champion {
          display: block;
        }
        & > .wrap {
          width: 50%;
          display: flex;
          padding: 0 10px;
          background: white;
          float: left;
          line-height: 33px;
          font-size: 13px;
          &:nth-child(even) {
            border-left: 1px solid #eee;
          }
          &:hover {
            background: rgb(255, 248, 234);
          }
          & > .locked {
            margin-left: auto;
            width: 50px;
            text-align: center;
          }
          & > .odds {
            margin-left: auto;
            width: 50px;
            font-size: 12px;
            color: #575757;
            text-align: center;
            &:hover {
              cursor: pointer;
              background-color: var(--secondary);
            }
          }
        }
      }
    }
    .odds {
      font-size: 12px;
      position: relative;
      .cornerBall {
        width: 100%;
        .expand {
          margin-right: 10px;
          transition-duration: 0.2s;
        }
        .header {
          width: 100%;
          height: 38px;
          background: #d4eaff;
          font-size: 13px;
          padding-left: 10px;
          cursor: pointer;
          color: var(--primary);
          border-top: solid 1px white;
        }
      }
      .star {
        margin-left: auto;
        cursor: pointer;
        font-size: 18px;
        position: absolute;
        right: 0;
        top: 0;
        color: grey;
        padding-right: 10px;
      }
      .league {
        color: var(--black);
        display: flex;
        padding: 0 15px;
        align-items: center;
        line-height: 39px;
        user-select: none;
        height: 39px;
        font-size: 13px;
        cursor: pointer;
        position: relative;
        background: #d3d3d3;
        width: 100%;
        border-bottom: solid 1px #727272;
        & > .right {
          margin-left: auto;
        }
        & > .joinChat {
          font-size: 18px;
          cursor: pointer;
          transition-duration: 0.2s;
          &:hover {
            color: var(--primary);
          }
        }
      }

      .table {
        display: flex;
        background: white;
        height: auto;
        &:nth-child(odd) {
          //         border: 1px solid #afafaf;
          background: var(--paleBackground);
        }
        .timeMatchWrap {
          display: flex;
          .timeInfo {
            width: 30%;
            padding: 7px 0;
            & > div {
              text-align: center;
              font-size: 12px;
              font-weight: 400;
              &.score,
              &.hourMinute {
                color: var(--themeText);
              }
            }
          }
          .matchInfo {
            width: 70%;
            display: flex;
            flex-direction: column;
            font-size: 13px;
            border-right: solid 1px white;
            text-align: left;
            position: relative;
            justify-content: center;
            .strongTeam {
              color: var(--themeText);
            }

            & > div {
              padding: 1px;

              line-height: 20px;
              color: #333;
            }
            .team {
              display: flex;
              span {
                display: block;
                @include overFlowDot();
              }
              .teamName {
                width: 90%;
              }
              .redCard {
                width: 10%;
                line-height: 20px;
                height: 20px;
                padding: 0 3px;
                float: right;
                color: var(--white);
                background: red;
              }
            }
          }
        }
        .oddsTable {
          width: calc(100% - 201px);
          display: flex;
          &.row {
            .oddsColumn {
              justify-content: left;
              align-items: center;
              flex-direction: row;
              width: 100%;
              max-width: 1000px;
              & > .oddsWrap {
                width: calc(100% / 3);
                float: right;
                .hdc {
                  display: none;
                }
              }
            }
          }
          .oddsColumn {
            display: flex;
            max-width: 60px;
            margin: 0 auto;
            justify-content: center;
            flex-direction: column;
            flex: 1;
            position: relative;

            &.noneCentering {
              justify-content: normal;
            }
            & > .oddsWrap {
              height: 20px;
              width: 100%;
              align-items: center;
              justify-content: center;
              justify-items: center;
              align-content: center;

              position: relative;
              .odds {
                margin: 0 auto;
                max-width: 50px;
                width: auto;
                user-select: none;
                text-align: center;
                font-weight: normal;
                font-size: 13px;
                color: #575757;
                &.active {
                  background-color: var(--secondary) !important;
                }
                &:hover {
                  cursor: pointer;
                  background-color: var(--secondary) !important;
                }
              }
              .hdc {
                position: absolute;
                color: #ff3d3d;
                left: -52px;
                font-size: 12px;
                text-align: right;
                width: 50px;
              }
            }
            & > .scoreButton {
              text-align: center;
              margin: auto;
              background: var(--primary);
              color: var(--white);
              border-radius: 3px;
              width: auto;
              display: inline-block;
              padding: 10px 6px;
              &:hover {
                cursor: pointer;
                background: var(--primary);
                color: #ffffff;
              }
            }
          }
        }
        &.champion {
          display: block;
        }
        & > .wrap {
          width: 50%;
          display: flex;
          padding: 0 10px;
          background: white;
          float: left;
          line-height: 33px;
          font-size: 13px;
          &:nth-child(even) {
            border-left: 1px solid #eee;
          }
          &:hover {
            background: rgb(255, 248, 234);
          }
          & > .locked {
            margin-left: auto;
            width: 50px;
            text-align: center;
          }
          & > .odds {
            margin-left: auto;
            width: 50px;
            text-align: center;
            &:hover {
              cursor: pointer;
              color: white;
              background-color: var(--primary);
            }
          }
        }
      }
    }
    .timeMatchWrap {
      width: 201px;
    }
  }
  .pagerWrap {
    width: 100%;
    height: 50px;
    text-align: right;
    background: white;
  }
  .eventItem {
    position: relative;
    & > .star {
      position: absolute;
      z-index: 9999;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .breakfastWrap {
    width: 100%;
    color: black;
    background: var(--primary);
    height: 30px;
    line-height: 26px;
    padding: 2px 10px;
    display: flex;
    & > .breakfastDate {
      color: white;
      cursor: pointer;
      width: 100px;
      text-align: center;
      &:hover,
      &.active {
        background: var(--black);
        border-radius: 3px;
      }
    }
  }
  .empty {
    text-align: center;
    width: 100%;
    font-size: 13px;
    height: 30px;
    color: var(--white);
    line-height: 30px;
  }
}
.red {
  color: #ba0303 !important;
}
