#tutorials {
  user-select: none;
  margin: auto;
  background: var(--white);
  max-width: 1000px;
  .external{
    position: absolute;
    width: 160px;
    background-color: #fff;
    left:160px;
    top:0;
    visibility: hidden;
    color: var(--grey);
    box-shadow: #737570 0 0 5px;
    border-radius: 3px;
    &.visible{
      visibility: visible;
      color: var(--grey);
    }
    .item2{
      padding: 5px 10px;
      transition: background 0.3s;
      &:hover{
        color: var(--white);
        background: var(--gray);
      }
    }
  }
  .fristItem{
    width: 100%;
  }
  & > .header {
    height: 40px;
    line-height: 25px;
    align-items: center;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 600;
    background: var(--primary);
    color: var(--mainText);
    display: flex;
    .selectDrop {
      background: var(--white);
      color: var(--dark);
      border-radius: 2px;
      padding: 0 5px;
      width: auto;
      cursor: pointer;
      position: relative;
      .tutorialDrop {
        position: absolute;
        top: 30px;
        box-shadow: #737570 0 0 5px;
        border-radius: 3px;
        background: var(--white);
        left: 0;
        width: 170px;
        font-size: 16px;
        .li {
          position: relative;
          height: 25px;
          line-height: 25px;
          padding: 0 5px;
          color: var(--grey);
          &:hover{
            color: var(--white);
            background: var(--gray);
          }
        }
      }
    }
  }
  .body {
    padding: 0 10px;
    height: 800px;
    overflow-y: auto;
    .header {
      color: var(--black);
      font-size: 26px;
      font-weight: 900;
      text-align: center;
    }
    .content {
      margin: 5px 0;
      font-size: 16px;
      .subTitle {
        font-size: 22px;
        font-weight: 700;
        color:var(--primary);
      }
      .thirdTitle{
        font-size: 18px;
        font-weight: 700;
      }
      .details {
        font-size: 16px;
        padding: 0 15px;
      }
    }
  }
}
